ul,
ol,
li {
  list-style: none;
  padding: 0;
}
.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "BBH Sans Bogle", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 5px;
  background-image: linear-gradient(
    150deg,
    transparent 45%,
    rgba(22, 0, 57, 0.53) 50%,
    transparent 55%
  );
  background-repeat: no-repeat;
  background-size: 250% 250%;
  animation: shine-effect 3s linear infinite;
}
h1 > span:hover {
  margin-bottom: 50px;
}
h1 > span {
  animation: jump infinite 2s;
}
h1 > span:nth-child(1) {
  animation-delay: 100ms;
}
h1 > span:nth-child(2) {
  animation-delay: 200ms;
}
h1 > span:nth-child(3) {
  animation-delay: 300ms;
}
h1 > span:nth-child(4) {
  animation-delay: 400ms;
}
h1 > span:nth-child(5) {
  animation-delay: 500ms;
}
h1 > span:nth-child(6) {
  animation-delay: 600ms;
}
h1 > span:nth-child(7) {
  animation-delay: 700ms;
}
h1 > span:nth-child(8) {
  animation-delay: 800ms;
}
h1 > span:nth-child(9) {
  animation-delay: 900ms;
}
h1 > span:nth-child(10) {
  animation-delay: 1000ms;
}
h1 > span:nth-child(11) {
  animation-delay: 1100ms;
}
@keyframes shine-effect {
  0% {
    background-position: 110% 110%;
  }
  100% {
    background-position: -110% -110%;
  }
}
@keyframes jump {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0px;
  }
}
